@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Assistant:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,510;1,510&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#body1{

    margin: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(20deg, #ffffff 0%, #D0F1BF 67%, #B6D7B9 30%);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}

/* Background layout of the projects page */
#body2{
    margin: 0;
    font-family: Gara;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 110%;
    background: linear-gradient(-50deg, #b5bfc7 8%, #406bcebd 67%, #2d5bc0bd 0%);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}

/* Background layout of Devops lab page */
#body3{
    margin: 0;
    font-family: Gara;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 110%;
    background: linear-gradient(130deg, #9b8795 1%, #50689b 30%, #5f76ae 30%);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}

/* Background layout of resume lab page*/
#body4{
    margin: 0;
    font-family: Gara;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 110%;
    background: linear-gradient(130deg, #ddcbbc 1%, #fdc7bc 40%, #fcd5ce 30%);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}

#body5{
    margin: 0;
    font-family: Gara;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 110%;
    background: linear-gradient(130deg, #b9e7d2 1%, #84bd89 40%, #8dc899 30%);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}

/* Style for hyperlink tags */
a {
    text-decoration: none;
    font-family: "Assistant";
}

/* sets margins for text in lab1 text */
.lab1Margins{
    margin: 0px 110px 0px 110px;
    font-size: 25px;
}

/* header 1 styles */
h1{
    
    font-family: 'Archivo Black';
    text-align: center;
    font-size: 90px;
}

/* header 2 styles */
h2{
    text-align: center;
    font-family: 'Assistant';
    font-size: 30px;
}

/* Style for hyperlinks in menu bar */
.Logo a{
    float: right;
    color: #3d3c3c;
    padding: 25px;
    text-decoration: none;
    font-size: 25px;
    
}

/* styles for paragraphs */
p{
    font-family: 'Assistant';
}

/* enables change in color when mouse hovers over menu buttons */
.Logo a:hover {
    background-color: #476246;
    color: black;
}

/* identifies current page person is on in the menu */
.Logo a.active {
    background-color: #04AA6D;
    color: white;
}

/* main style for the menu */
.Logo{
    flex: 0 1 auto;
    width: 100%;
     background-color: #48494a40; 
    font-family: 'Kalam';
}

/* main style of the paragraph tags in menu */
.Logo p{
    color: #433d3d;
    font-size:50px;
}

/* image that displays name in menu */
#logoImage{
    margin: 10px 0px 0px 40px;
    width: 450px;
    height:50px;
    float: left;
}


#aboutMeImg{
    float: left;
    width:150px;
    height:40px;
}

/* style/size for headshot on home page */
#Headshot{
    width:430px;
    height:310px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* buttons on projects page that lead to labs */
.lab1{
    width:300px;
    height:210px;
    transition: transform .2s; 
}

/* enables images in projects page to change size when mouse hovers over them */
.lab1:hover{
    transform:scale(1.1);
}

/* buttons on projects page that lead to labs */
.lab2{
    width:300px;
    height:210px;
    transition: transform .2s; 
}

/* enables images in projects page to change size when mouse hovers over them */
.lab2:hover{
    transform:scale(1.1);
}

/* buttons on projects page that lead to labs */
.lab4{
    width:300px;
    height:210px;
    transition: transform .2s; 
}

/* enables images in projects page to change size when mouse hovers over them */
.lab4:hover{
    transform:scale(1.1);
}

/* buttons on projects page that lead to labs */
.lab5{
    width:300px;
    height:210px;
    transition: transform .2s; 
}

/* enables images in projects page to change size when mouse hovers over them */
.lab5:hover{
    transform:scale(1.1);
}

/* buttons on projects page that lead to labs */
.lab6{
    width:300px;
    height:210px;
    transition: transform .2s; 
}

/* enables images in projects page to change size when mouse hovers over them */
.lab6:hover{
    transform:scale(1.1);
}

/* buttons on projects page that lead to labs */
.tba1{
    width:300px;
    height:210px;
    transition: transform .2s; 
}

/* enables images in projects page to change size when mouse hovers over them */
.tba1:hover{
    transform:scale(1.1);
}

/* buttons on projects page that lead to labs */
.tba2{
    width:300px;
    height:210px;
    transition: transform .2s; 
}

/* enables images in projects page to change size when mouse hovers over them */
.tba2:hover{
    transform:scale(1.1);
}

/* buttons on projects page that lead to labs */
.tba3{
    width:300px;
    height:210px;
    transition: transform .2s; 
}

/* enables images in projects page to change size when mouse hovers over them */
.tba3:hover{
    transform:scale(1.1);
}

/* buttons on projects page that lead to labs */
.tba4{
    width:300px;
    height:210px;
    transition: transform .2s; 
}

/* enables images in projects page to change size when mouse hovers over them */
.tba4:hover{
    transform:scale(1.1);
}

.proj4{
    width:500px;
    height:350px;
    transition: transform .2s; 
    margin: 0px -100% 0px 0px;
    float: left;
}

.proj4_r{
    width:500px;
    height:350px;
    transition: transform .2s; 
    float: right;
}

.proj5{
    width:500px;
    height:350px;
    transition: transform .2s; 
    margin: 0px 0px 0px 25%;
    float: left;
}

.proj5_r{
    width:500px;
    height:350px;
    transition: transform .2s; 
    float: right;
}
/* Style for Images in lab 1 */
.lab1Image{
    
    width:800px;
    height:410px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.proj4:hover{
    transform:scale(1.1);
}

.proj4_r:hover{
    transform:scale(1.1);
}

.proj5:hover{
    transform:scale(1.1);
}

.proj5_r:hover{
    transform:scale(1.1);
}


/* style for footer */
footer{
    font-family: 'Assistant';
    margin-top: auto;
    overflow: hidden; 
}

/* text in header/contact info styles */
#contactInfo {
    padding: 20px 0px 10px 20px;
    margin: 0px 10px 0px 0px;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    list-style-type: none;
}

/* image caption style in lab1 */
.caption{
    margin: 5px 0px 70px 0px;
    text-align: center;
    font-size: 25px;
}

/* home page blurb tutle style */
#blurbTitle{
    font-size:80px;
    font-family: 'Archivo Black';
    margin-top:150px;
}

#blurbTitle2{
    font-size:80px;
    font-family: 'Archivo Black';
    margin-top:150px;
    margin-left: 50px;
    margin-right: 50px;
}

#blurbish{
    font-size:20px;
    font-family: 'Archivo Black';
}

#blurbish1{
    font-size: 40px;
    font-family: 'Assistant';
    text-align: center;
    font-weight: bold;
}

#blurbish12{
    font-size: 34px;
    font-family: 'Assistant';
    text-align: center;
    font-weight: bold;

}

#blurbish2{
    font-size:20px;
    font-family: 'Assistant';
}

.cigna2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: -100px;
    width: 500px;
}
.cigna22 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: -100px;
    width: 700px;
}

.cigna3 {
    display: block;
    width: 200px;
}
.cigna4 {
    display: block;
    width: 400px;
}

#blurbTitle1{
    font-size:80px;
    font-family: 'Archivo Black';
}

/* main blurb in main page style */
#blurb{
    margin: 0px 100px 0px 100px;
    float: right;
    font-size: 21px;
}

#blurb3{
    margin: 0px 300px 0px 300px;
    float: right;
    font-size: 21px;
}

#blurb2{
    margin: 0px 100px 0px 100px;
    text-align: center;
    font-size: 21px;
}

#jsonHere {
    display: none;
}


#projectHead {
    display: none;
}

#projFoot {
    display: none;
}

.ArticleHead {
    text-align: center;
    font-size: 20px;
    font-family: "Inconsolata";
    margin: 0px 50px 0px 50px;
}

.SubHead {
    font-size: 13px;
    font-family: "Inconsolata";
    margin: 5px 0px 30px 0px;
}

.Summary {
    font-size: 15px;
    font-family: "Inconsolata";
    
    margin: 0px 10px 10px 10px;
}

.entry {
    background: rgba(61, 80, 90, 0.552);
    margin: 60px 100px 60px 100px;
    height: auto;
    text-align: center;
    border-radius: 25px;
    transition: transform .2s;
}

.entry:hover{
    transform:scale(1.1);
}


.flex-container {
    display: flex;

    justify-content: center;
}

.flex-container55 {
    display: flex;

    justify-content: center;
}

.flex-container1 {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.flex-container2 {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.flex-container3 {
    display: flex;
    justify-content: center;
    margin: 0px 300px 0px 300px;
    gap: 30px;
    font-family: "Poppins";
}

.flex-container4 {
    display: flex;
    justify-content: center;
    margin: 0px 400px 0px 400px;
    gap: 30px;
    font-family: "Poppins";
}
  
.flex-container > div {
    padding: 0px 30px 0px 0px;
    /* font-size: 30px; */
    
}



.flex-container3 > div {
    padding: 10px;
    background-color: #cfdbc3;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 20px;
    margin-top: 20px;
}

#Linkedin {
    height: 50px;
    width: 50px;
    transition: transform .2s; 
}
#Linkedin:hover {
    transform:scale(1.1);
}

.boxOther{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.boxOther1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.boxOther2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProjectImage {
    float: left;
    margin: 0px 600px 0px 0px;
    width: 325px;
    height: 250px;
}

.otherProject {
    float: right;
}

.compLogo {
    width: 100px;
    height: 100px
}

.CompFont {
    font-family: "Prompt";
    font-size: 36px;
    font-weight: 900;
}
.TitleFont {
    font-family: "Prompt";
    font-size: 23px;
}

.TitleFont2 {
    font-family: "Prompt";
    font-size: 16px;
}

.YearFont {
    
    font-family: "Prompt";
    font-size: 18px;
    font-style: italic;
}

.compimg {
    width: 225px;
    height: 225px;
}

