@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Assistant:wght@500&display=swap');

/* Background layout for the home page */
#body1{
    margin: 0;
    font-family: Gara;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(20deg, #ffffff 0%, #c2dcb4 67%, #A9D2B4 0%);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}

/* Background layout of the projects page */
#body2{
    margin: 0;
    font-family: Gara;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 110%;
    background: linear-gradient(-50deg, #b5bfc7 8%, #406bcebd 67%, #2d5bc0bd 0%);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}

/* Background layout of Devops lab page */
#body3{
    margin: 0;
    font-family: Gara;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 110%;
    background: linear-gradient(130deg, #9b8795 1%, #50689b 30%, #5f76ae 30%);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}

/* Background layout of resume lab page*/
#body4{
    margin: 0;
    font-family: Gara;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 110%;
    background: linear-gradient(130deg, #ddcbbc 1%, #fdc7bc 40%, #fcd5ce 30%);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}

#body5{
    margin: 0;
    font-family: Gara;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 110%;
    background: linear-gradient(130deg, #b9e7d2 1%, #84bd89 40%, #8dc899 30%);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}

/* Style for hyperlink tags */
a {
    text-decoration: none;
    font-family: "Assistant";
}

/* sets margins for text in lab1 text */
.lab1Margins{
    margin: 0px 110px 0px 110px;
    font-size: 25px;
}

/* header 1 styles */
h1{
    
    font-family: 'Archivo Black';
    text-align: center;
    font-size: 90px;
}

/* header 2 styles */
h2{
    text-align: center;
    font-family: 'Assistant';
    font-size: 30px;
}

/* Style for hyperlinks in menu bar */
.Logo a{
    float: right;
    color: #3d3c3c;
    padding: 25px;
    text-decoration: none;
    font-size: 25px;
    
}

/* styles for paragraphs */
p{
    font-family: 'Assistant';
}

/* enables change in color when mouse hovers over menu buttons */
.Logo a:hover {
    background-color: #476246;
    color: black;
}

/* identifies current page person is on in the menu */
.Logo a.active {
    background-color: #04AA6D;
    color: white;
}

/* main style for the menu */
.Logo{
    flex: 0 1 auto;
    width: 100%;
     background-color: #48494a40; 
    font-family: 'Kalam';
}

/* main style of the paragraph tags in menu */
.Logo p{
    color: #433d3d;
    font-size:50px;
}

/* image that displays name in menu */
#logoImage{
    margin: 10px 0px 0px 40px;
    width: 450px;
    height:50px;
    float: left;
}


#aboutMeImg{
    float: left;
    width:150px;
    height:40px;
}

/* style/size for headshot on home page */
#Headshot{
    width:430px;
    height:310px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* buttons on projects page that lead to labs */
.labs{
    width:300px;
    height:210px;
    transition: transform .2s; 
}

.proj4{
    width:500px;
    height:350px;
    transition: transform .2s; 
    margin: 0px -100% 0px 0px;
    float: left;
}

.proj4_r{
    width:500px;
    height:350px;
    transition: transform .2s; 
    float: right;
}

/* Style for Images in lab 1 */
.lab1Image{
    
    width:800px;
    height:410px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* enables images in projects page to change size when mouse hovers over them */
.labs:hover{
    transform:scale(1.1);
}

.proj4:hover{
    transform:scale(1.1);
}

.proj4_r:hover{
    transform:scale(1.1);
}

/* style for footer */
footer{
    font-family: 'Assistant';
    margin-top: auto;
    overflow: hidden; 
}

/* text in header/contact info styles */
#contactInfo {
    padding: 20px 0px 10px 20px;
    margin: 0px 10px 0px 0px;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    list-style-type: none;
}

/* image caption style in lab1 */
.caption{
    margin: 5px 0px 70px 0px;
    text-align: center;
    font-size: 25px;
}

/* home page blurb tutle style */
#blurbTitle{
    font-size:80px;
    font-family: 'Archivo Black';
}

/* main blurb in main page style */
#blurb{
    margin: 0px 100px 0px 100px;
    float: right;
    font-size: 21px;
}