

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Assistant:wght@500&display=swap');


#body1{
    margin: 0;
    font-family: Gara;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(20deg, #ffffff 0%, #c2dcb4 67%, #A9D2B4 0%);
    /* background-image: url('./'); */
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}

#body2{
    margin: 0;
    font-family: Gara;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 110%;
    background: linear-gradient(-50deg, #b5bfc7 8%, #406bcebd 67%, #2d5bc0bd 0%);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}

#body3{
    margin: 0;
    font-family: Gara;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 110%;
    background: linear-gradient(130deg, #9b8795 1%, #50689b 30%, #5f76ae 30%);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}

#body4{
    margin: 0;
    font-family: Gara;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 110%;
    background: linear-gradient(130deg, #ddcbbc 1%, #fdc7bc 40%, #fcd5ce 30%);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}

a {
    text-decoration: none;
}

.lab1Margins{
    margin: 0px 110px 0px 110px;
    
    font-size: 25px;
}

h1{
    
    font-family: 'Assistant';
    text-align: center;
    font-size: 90px;
}

h2{
    text-align: center;
    font-family: 'Assistant';
    font-size: 30px;
}

.Logo a{
    float: right;
    color: #3d3c3c;
    
    /* margin:  0px 0px 0px; */
    padding: 25px;
    text-decoration: none;
    font-size: 25px;
    
}

p{
    font-family: 'Assistant';
}
.Logo a:hover {
    background-color: #476246;
    color: black;
}


.Logo a.active {
    background-color: #04AA6D;
    /* width: 100%; */
    color: white;
  }
  

.Logo{
    height: px;
    /* text-align: center; */
    flex: 0 1 auto;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.359) */
     background-color: #48494a40; 
    font-family: 'Kalam';
}

.Logo p{
    color: #433d3d;
    font-size:50px;
}



#logoImage{
    margin: 10px 0px 0px 40px;
    width: 450px;
    height:50px;
    float: left;
}

#aboutMeImg{
    float: left;
    width:150px;
    height:40px;
}
#Headshot{
    width:430px;
    height:310px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.labs{
    /* float: left; */
    width:300px;
    height:210px;
    /* float: left; */
    /* width: 33.33%; */
    transition: transform .2s;
    /* padding: 5px; */
    
}

.lab1Image{
    
    width:800px;
    height:410px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.labs:hover{
    transform:scale(1.1);
    
    /* padding: 10px; */
}

footer{
    /* padding: 50px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0; */
    
    font-family: 'Assistant';
    margin-top: auto;
         /* background-color: #7d7d7d; */
    overflow: hidden;
    /* background-color: rgba(0, 0, 0, 0.359) */
    
}

#contactInfo {
    /* float: right; */
    padding: 20px 0px 10px 20px;
    margin: 0px 10px 0px 0px;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    list-style-type: none;
}

.caption{
    margin: 5px 0px 70px 0px;
    text-align: center;
    font-size: 25px;
}

#blurbTitle{
    /* margin: 10px 10px 0px 0px; */
    /* text-align: center; */
    font-size:80px;
    
    font-family: 'Archivo Black';
}
#blurb{
    margin: 0px 100px 0px 100px;
    /* text-align: center; */
    float: right;
    font-size: 21px;
}

